@import 'mixins';
@import 'fonts';

$xs: "319.98px";
$sm: "424.98px";
$md: "768.98px";
$lg: "991.98px";
$xl: "1199.98px";
$xxl: "1440px";

$mw: 1170;


#root {
  @media (max-width: $sm) {
    background-color: red;
  }

  @include flexbox(row);
  font-size: adaptive(70, 30);
}

:root {


	
}

body[data-theme='light'] {}

body[data-theme='dark'] {}